@import "./base.scss";
@import "./constants.scss";

$extension-width: 360px;
$offset-right: 20px;

#modal-window {
  position: absolute;
  width: 99%;
  top: 0;
  z-index: 99999;
  font-family: sans-serif;

  .logo-small {
    width: 50px;
    height: 40px;
  }

  .modal-window {
    top: 0;
    right: $offset-right;
    margin-top: 2em;
    position: fixed;
    background: $primary-200;
    opacity: 0.9;
    width: $extension-width;
    max-width: $extension-width;
    min-width: 350px;
    // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    z-index: 9999;
    border: 1px solid #333748;
    padding: 20px;
    // border: solid 3px $primary-300;
    border-radius: $border-radius-large;

    &--collapsed {
      background: none;
      border: none;
      box-shadow: none;
      right: 0;
      left: 90%;
    }
  }

  .modal-close-button {
    cursor: pointer;
  }

  .modal-content {
    display: grid;
    position: relative;
    &__close {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    &__main {
      height: 350px;
    }
    &__comments {
      max-height: 350px;
      overflow-y: scroll;
      margin-bottom: 20px;
    }
    &__comment-button {
      place-self: center;
    }
    &__confirm {
      display: flex;
      flex-direction: row;
      place-content: center;
    }
    &__comment-editor {
      margin-bottom: 20px;
    }
  }

  .text-comment {
    margin: 20px 0px;
    .header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      &__author {
        color: $primary-100;
      }
      &__date {
        color: $primary-100;
      }
    }
  }

  .primary-button {
    background-color: $primary-300;
    color: $primary-200;
    padding: 8px 12px;
    border-radius: $border-radius-standard;
    border: none;
    &:hover {
      padding: 5px 9px;
      border: 3px solid $primary-400;
      cursor: pointer;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: $light-300;
    }
    &:focus {
      background-color: $primary-400;
      border: none;
      outline: none;
    }
  }
  .terciary-button {
    background: none;
    color: $primary-300;
    padding: 8px 8px;
    border: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: $light-300;
    }
    &:focus {
      background-color: $primary-400;
      border: none;
      outline: none;
    }
  }
  .comment-body {
    &__text {
      margin-top: 0px;
    }
  }
  .comment-editor {
    height: 230px;
    display: grid;
    &__input {
      resize: none;
      justify-self: center;
      width: 90%;
      min-height: 150px;
      padding: 10px;
      background-color: $primary-250;
      border-radius: $border-radius-standard;

      &:focus {
        outline: none;
      }
    }
  }

  .load-wrapp {
    height: 100%;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    display: grid;
    align-content: center;
  }

  .load-wrapp:last-child {
    margin-right: 0;
  }

  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: $primary-300;
    margin: 6px;
  }

  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.9s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.9s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.9s 0.3s linear infinite;
  }

  @keyframes loadingC {
    0 {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
