$primary-100: #BDD9BF;
$primary-200: #2E4052;
$primary-250: #3d5975;
$primary-300: #FFC857;
$primary-400: #FFFFFF;
$primary-500: #412234;

$light-500: #292A2B;
$light-400: #636465;
$light-300: #ADAEAE;
$light-200: #E3E5E7;
$light-100: #FFFFFF;

$border-radius-standard: 10px;
$border-radius-large: 20px;



